{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
        </div>
        <br> 
        
    
        <div class="flex direction content">
            <div class="flex">
                <div>
                    <img src="{% static '/images/technothlon.png'%}" class="img1" alt="">
                </div>
                <div class="size3  ">
                    Congratulations!! You have made it to the end!!
                <br>
                    You proved that you are the deserving one for the Super Power.<br>
                    You are blessed with the Super Power which most of the people don't have and that is INTELLIGENCE.<br>
                    All the best for your bright future.<br>
                    Thank You.
                </div>
            </div>
        </div>
    </div>

</body>
<style>
    @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
    </style>
</html>