<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static "\css\guidelines.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static "\images\Technothlon white.svg" %}" alt="">
        </div>
        <div class="flex direction font_size">
            RULES AND REGULATION
            <hr>
        </div>


        <div class="size3 flex ">
            <div class="size3 flex ">
                <p><b>Read the Rules and Guidelines carefully as you won't be able read this page again</b></p>
                <p> You went to a magical forest to find some super power. The forest being magical contains trees which can speak because it contains spirit of noble men who would guide only the deserving towards the super power. 
                    At each turn the noble men would ask you one question and help you with the way ahead if you give the correct answer or send you to some other random tree, can be the one with whom you already had a talk before, on answering wrong. 
                </p>
                <p>The more wrong answers you give the more longer the way to the super power becomes.</p>
                <p>There are two types of questions which the noble men would ask on the way.</p>
                <ul>
                    <li>Option type</li>
                    <p>In these type of Questions the noble men would ask you a question and narrate a passage in front of you and you need to find the correct answer from the narrated passage. Clicking the correct answer would bring you closer to the super power while clicking wrong answer will carry you farther from the super power. </p>
                    <li>Submit type</li>
                    <p>In this type of questions the noble men will ask you question and you need to tell the correct answer. Type the answer in the space provided and submit it. In case the answer is a word, you can submit it in any case thai is upper or lower case (your wish). </p>
                </ul>
                <p>Are you the derserving one to get the super power?? This is the chance to prove yourself. All the best!!!</p>
                <p>Note: The answers can be partial words or part of a word!! </p>
                <p>All The Best!!!</p>
            </div>
        </div>

        <div class="margin_bottom">
            <button class="button"><a onclick="window.location.replace('{% url "2"%}')"> Let's Start</a></button>
        </div>
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
document.getElementsByTagName("a")[0].addEventListener("click",(e)=>{
    e.preventDefault()
  
    var data={
        question: 0,    
        score:0,
    } 
      fetch("{% url 'guide' %}",{
          method:"POST" ,
          headers: {
              'Content-Type': 'application/json'
          },
          body : JSON.stringify(data)
      }) 
   } )
  
  
  </script>
</html>