<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="..\css\style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="..\images\Technothlon white.svg" alt="">
        </div>
        <div class="flex direction font_size">
            RULES AND REGULATION
            <hr>
        </div>


        <div class="size3 flex ">

            <ul>
                <li>There will be 4 separate levels in this hunt. Try to hunt as much as you can.
                    <ul>
                        <li>Level 1 : Fangs of Death and Hell </li>
                        <li>Level 2 : Secret in the Shadows</li>
                        <li>Level 3 : Realm of Mystery</li>
                        <li>Level 4 : Lure of the Present</li>
                    </ul>
                </li>
                <li>The official hunt was held live on 5th September 2021, but now we are releasing it for anyone to
                    attempt at
                    any time. Modifications include :
                    <ul>
                        <li>You can go back to previous levels which you have solved.</li>
                        <li>There are Detailed hint and Answer options added in case you feel very clueless go for
                            the Detailed
                            hint, but it mostly contains dead-giveaways so it might ruin the experience for you if
                            you use it. We
                            recommend you try as hard as you can without it. This was not there in the original
                            hunt. Also, in the
                            original hunt, a penalty of 20 minutes was added for every hint accessed.</li>
                    </ul>
                </li>
                <li>Submit the answer in the form which is shown at the end of each level. Once you submit, the link
                    for the
                    next level will be displayed. For some levels, finding where the portal is, is also part of the
                    hunt !</li>
                <li>You are allowed to make as many guesses as you want.</li>
                <li>Since this was a common doubt during the actual game, we will clarify it here itself - you can
                    include
                    spaces in the answers if required. For level 1, the answer is case-insensitive. </li>
                <li>Participants are free to use the internet and other resources to solve the levels.</li>
            </ul>
        </div>

        <div class="margin_bottom">
            <button class="button "><a onclick="window.location.replace('index3.html')"> Let's Start</a></button>
            <button class="button button5"><a onclick="window.location.replace('index3.html')">  LeaderBoard</a></button>
        </div>
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>

</html>