<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="..\css\style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="..\images\Technothlon white.svg" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            ROUND 2
            <hr>
        </div>
        <div class="flex direction content">
            <div class="flex direction">

                <div class="size3  ">
                   <p><a onclick="window.location.replace('index4.html')"> In a game, there are 2 teams   <a onclick="window.location.replace('index.html')"> A</a> & <a onclick="window.location.replace('index1.html')"> B</a> and 21 flags. They take turns removing the flags(A goes first). Each team must remove 1, 2, or 3 flags on a turn. The team that removes the last flag wins. Which team will always win?</a> </p> 

                </div>
            </div>
            <div >
             <!-- <img src="\css\Frame.png" class="img2" alt=""> -->
            </div>
        </div>



    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>

</html>















