<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus <form method="POST">
        {% csrf_token %}
        <input type="submit" name="btn" value={{question.correct_id}}>
        <input type="submit" name="btn" value={{question.wrong_id_1}}>
        cepturi alias asperiores nem
        <input type="submit" name="btn" value={{question.wrong_id_2}}>
        <input type="submit" name="btn" value={{question.wrong_id_3}}>
       </form>
       <!-- {{ val }} -->
       quos incidunt nostrum. Excepturi alias asperiores nemo tenetur facere non, itaque eveniet tempore nisi magni quae id quaerat animi nobis.</h1>
</body>
</html>