<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="..\css\style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            < <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            <br>
            <br>
            
            Round 11
            <hr>
            <br>
            
        </div>
        <div class="flex direction content">
            <div class="flex direction">

                <div class="size3  ">
                   <p>There are 2 doors in a room , one to heaven and other to hell. One door has a angel and other door has a devil disguised as angel. The angel always tells the truth and the devil always tells lie. You want to go to heaven but neither you know which door is the door to heaven nor do you know who is actual angel and who is the devil. You are allowed to ask only one question to any one of them and find the door to the heaven. You asked anyone of them  

                    “what door will the other guard say if I ask him which is the door to hell?” 
                    </p>
                    <p>
                        Suppose the guard answers Door A then which door will you chose A or B to go to heaven? 
                    </p>
                    <br><br>
                </div>
            </div>
            <!-- Answer  -  B   -->
            <div class="center111">
                <div>
                    <label for="Answer">Answer</label>
                    <input type="text" name="Answer">
                </div>
                    <div>
                        <button class="button "><a onclick="window.location.replace('index4.html')">Submit</a></button>
                    </div>
                

            </div>
           
        </div>
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
    let correct =true;
        document.getElementsByTagName("a")[0].addEventListener("click",(e)=>{
          e.preventDefault()
            if(document.getElementById("input").value!='B')   
            { 
                var data={
                    question: 11,    
                    score:0,
                } 
                correct=false;
            }
            else{
                var data={
                    question: 11,    
                    score:1,
                }
            }
            fetch("{% url '11' %}",{
                method:"POST" ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify(data)
            }) 
            if(correct==true)
            {
                window.location.replace('{% url "4" %}')
            }
            else{
                window.location.replace('{% url "8" %}')
            }
         
         } )
        
        
        </script>
</html>