{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <br>
        <div class="flex direction font_size">
            Round 12
            <hr>
        </div>
        <div class="flex direction content">
            <div class="flex direction">

                <div class="size3  ">
                    <p>There are 71 demons in a village and 1 man who is sleeping because it was night. The demon can eat the man and fall asleep and any other demon can eat him and fall asleep and so on. The demons are very hungry but staying alive is their highest priority. Also, the demons are intelligent like you. So will the man be alive or dead in the morning? 
                    </p>
                    <br><br>
                </div>
            </div>
            
            <div class="center111">
                <div>
                    <label for="Answer">Answer</label>
                    <input type="text" name="Answer">
                </div>
                    <div>
                        <button class="button "><a >Submit</a></button>
                    </div>
                

            </div>
           
        </div>
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
    let correct =true;
        document.getElementsByTagName("a")[0].addEventListener("click",(e)=>{
          e.preventDefault()
            if(document.getElementsByTagName("input")[0].value.toLowerCase()!='dead')   
            { 
                var data={
                    question: 12,    
                    score:0,
                } 
                correct=false;
            }
            else{
                var data={
                    question: 12,    
                    score:1,
                }
            }
            fetch("{% url '12' %}",{
                method:"POST" ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify(data)
            }) 
            if(correct==true)
            {
                window.location.replace('{% url "6" %}')
            }
            else{
                window.location.replace('{% url "11" %}')
            }
         
         } )      
        
        </script>
</html>