{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            < <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            Round 13
            <hr>
        </div>


        <div class="size3 ">
            <p style="color: rgba(247, 234, 205, 0.91);">
                A basket is in form of a cuboid whose edges are 5 * 4 * 7 cm. You have few apples in spherical shape whose radius is 1cm. How many apples can you keep one by one in the empty basket. (Read the question carefully).             <p>
</p>
                <br>
                <br>
                Technothlon is an International School Championship organized by the IIT Guwahati. Technothlon began in 2004 with an aim to ‘Inspire Young Minds’. Starting on its journey with a participation of <a onclick="window.location.replace('{% url "9" %}')">200</a> students confined to the city of Guwahati, over the next <a onclick="window.location.replace('{% url "6" %}')">17</a> years Technothlon has expanded its reach to over <a onclick="window.location.replace('{% url "17" %}')">450</a>+ cities all over India and various centers abroad.                <p>
            </p>

            <p>
                The contest is organized over <a onclick="window.location.replace('{% url "6" %}')">2</a> rounds: Round <a onclick="window.location.replace('{% url "9" %}')">1</a> is a written preliminary examination, Prelims, which takes place in numerous schools all over India in July (Online this year due to Pandemic) and ,  Round 2 is Mains - which is conducted at IIT Guwahati, among the top <a onclick="window.location.replace('{% url "17" %}')">50</a> teams/students from each IX-X(Junior Squad) and XI-XII(Hauts Squad) class students. It is a team-based event—two students participate as a team (individual this year due to pandemic), attempting the paper together and also participate in the Mains event as a team (individual this year due to pandemic).
            </p>
          


            <!-- Answer    -   1     -->
        </div>

        
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
    for(i=0;i<document.getElementsByTagName("a").length;i++)
    {
    document.getElementsByTagName("a")[i].addEventListener("click",(e)=>{
            e.preventDefault()
           if(i==4)
           {
            var data={
                question: 13,    
                score:1,
            }
        }
        else
        {
            var data={
                question: 13,    
                score:0,
              }
        }
        fetch("{% url '13' %}",{
            method:"POST" ,
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        })  
    })
}
</script>
</html>