<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="..\css\style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="..\images\Technothlon white.svg" class="img1" alt="">
        </div>
        <br>
        <div class="flex direction font_size">
            Round 15
            <hr>
        </div>
        <div class="flex direction content">
            <div class="flex direction">

                <div class="size3  ">
                 <p>   There are 2 trains A and B and 7 stations between them in order of 1 to 7. The time taken by each train to go from ith station to i+1th station is given below. 
                    <br>
                    1-4 hrs-2-3 hrs-3-8 hrs-4-2 hrs-5-6 hrs-6-5 hrs-7 
                   <br> 
                    Train B can start moving from ith station only when train A has reached (i+1)th station otherwise has to wait. 
                    
                    Find the time taken by train B to reach station 7      
                      </p>
                   
                    <br><br>
                </div>
            </div>
            <!-- Answer  -  Dead   -->
            <div>
                <div >
                    <label for="Answer">Answer</label>
                    <input type="text" name="Answer">
                </div>

                <div >
                    <button class="button "><a onclick="window.location.replace('index4.html')">Submit</a></button>
                </div>
            </div>
           
        </div>
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
    let correct =true;
        document.getElementsByTagName("a")[0].addEventListener("click",(e)=>{
          e.preventDefault()
            if(document.getElementById("input").value!='B')   
            { 
                var data={
                    question: 1,    
                    score:0,
                } 
                correct=false;
            }
            else{
                var data={
                    question: 1,    
                    score:1,
                }
            }
            fetch("{% url '15' %}",{
                method:"POST" ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify(data)
            }) 
            if(correct==true)
            {
                window.location.replace('{% url "9" %}')
            }
            else{
                window.location.replace('{% url "6" %}')
            }
         
         } )
        
        
        </script>
</html>