{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            Tree 2
            <hr>
        </div>


        <div class="size3 ">

            <p style="color: rgba(247, 234, 205, 0.91);"> Mr.Warden plans a long drive with his family on the 32nd Sunday of the year 2020 in his car which was gifted to him by the company in which he worked for more than 10 years. His car had 4 usual tyres and 1 spare tyre. Each tyre can travel 20,000 kms before wearing off. What is the maximum distance he can travel along with his family in his car?  
            </p><br><br>


            <p>Scotland has a Western-style open mixed economy closely linked with the rest of the UK and the wider world. Traditionally, the Scottish economy was dominated by heavy industry underpinned by shipbuilding in Glasgow, coal mining and steel industries. Petroleum related industries associated with the extraction of North Sea oil have also been important employers from the 1970s, especially in the north-east of Scotland. De-industrialisation during the 1970s and 1980s saw a shift from a manufacturing focus towards a more service-oriented economy.</p>
            <p>
                Scotland's gross domestic product (GDP), including oil and gas produced in Scottish waters, was estimated at £150 billion for the calendar year 2012.In 2014, Scotland's per capita GDP was one of the highest in the EU. As of April 2019 the Scottish unemployment rate was 3.3%, below the UK's overall rate of 3.8%, and the Scottish employment rate was 75.9%
            </p>
            <p>
                Edinburgh is the financial services centre of Scotland, with many large finance firms based there, including: Lloyds Banking Group (owners of HBOS); the Government-owned Royal Bank of Scotland and Standard Life. Edinburgh was ranked 15th in the list of world financial centres in 2007, but fell to 37th in 2012, following damage to its reputation,and in 2016 was ranked 56th out of 86. Its status had returned to 17th by 2020.
            </p>
            <p>
                In 2014, total Scottish exports (excluding intra-UK trade) were estimated to be £<a onclick="window.location.replace('{% url "1" %}')">22,500</a> million. Scotland's primary exports include whisky, electronics and financial services.The United States, Netherlands, Germany, France, and Norway constitute the country's major export markets.
            </p>
            <p>
                Whisky is one of Scotland's more known goods of economic activity. Exports increased by 87% in the decade to 2012 and were valued at £4.3 billion in 2013, which was 85% of Scotland's food and drink exports. It supports around <a onclick="window.location.replace('{% url "8" %}')">20,000</a> jobs directly and  <a onclick="window.location.replace('{% url "3" %}')">25,000</a> indirectly. It may contribute £400–682 million to Scotland, rather than several billion pounds, as more than 80% of whisky produced is owned by non-Scottish companies.A briefing published in 2002 by the Scottish Parliament Information Centre (SPICe) for the Scottish Parliament's Enterprise and Life Long Learning Committee stated that tourism accounted for up to 5% of GDP and 7.5% of employment.
            </p>

            
        </div>

       
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
    </style>

</body>
<script>
    for(i=0;i<document.getElementsByTagName("a").length;i++)
    {
    document.getElementsByTagName("a")[i].addEventListener("click",(e)=>{
            e.preventDefault()
           if(i==2)
           {
            var data={
                question: 2,    
                score:1,
            }
        }
        else
        {
            var data={
                question: 2,    
                score:0,
              }
        }
        fetch("{% url '2' %}",{
            method:"POST" ,
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        })  
    })
}

</script>
</html>




