<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style3.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            ROUND 22
            <hr>
        </div>
        <div class="flex direction content">
            <div class="flex direction">

                <div class="size3  ">
                    A round table is made to play a two player game. In this game the players has to place coins on the
                    table one by one until the table is full of coins. Note that no coin can be kept on another coin.
                    The loser will be the one who will not be able to place the coin on the table. If A starts first
                    then who will win the game if both plays optimally.
                </div>
            </div>
            <div class="center111">
                <div>
                    <label for="Answer">Answer</label>
                    <input type="text" name="Answer">
                </div>
                    <div>
                        <button class="button "><a >Submit</a></button>
                    </div>
                

            </div>
        </div>
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
    </style>
</body>
<script>
    let correct =true;
        document.getElementsByTagName("a")[0].addEventListener("click",(e)=>{
          e.preventDefault()
            if(document.getElementsByTagName("input")[0].value.toLowerCase()!='a')   
            { 
                var data={
                    question: 22,    
                    score:0,
                } 
                correct=false;
            }
            else{
                var data={
                    question: 22,    
                    score:1,
                }
            }
            fetch("{% url '22' %}",{
                method:"POST" ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify(data)
            }) 
            if(correct==true)
            {
                window.location.replace('{% url "23" %}')
            }
            else{
                window.location.replace('{% url "9" %}')
            }
         
         } )
        
        
        </script>
</html>