{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            Round 24
            <hr>
        </div>


        <div class="size3 ">

            <p style="color: rgba(247, 234, 205, 0.91);">X, Y, Z play the game of chess.  

                Rule of the game is as follows: 
<br>
        
<Ol style="align-items: center;display:flex; flex-direction:column; line-height: 50px">

    <li >
        One who wins continues to play with the resting player
    </li>
    <li>
        No matches end with a tie
    </li>
 


</Ol>
<p> The results are as follows: </p>
<Ol style="align-items: center;display:flex; flex-direction:column; line-height: 50px">

    <li >
        'X' played 13 matches.
    </li>
    <li>
        'Y' played 19 matches.
    </li>
    <li>
        'Z' played 22 matches.
    </li>


</Ol>
<p>Who lost the 8th match? </p>
</p>
            <Ol style="align-items: center;display:flex; flex-direction:column; line-height: 50px">
                <li >
                    <a onclick="window.location.replace('{% url "4" %}')"> X</a>
                </li>
                <li>
                    <a onclick="window.location.replace('{% url "11" %}')">Y</a>
                </li>
                <li>
                    <a onclick="window.location.replace('{% url "16" %}')">Z</a>
                </li>
                <li>
                    <a onclick="window.location.replace('{% url "17" %}')">Can't predict </a>
                </li>
                
          
           
            </Ol>
         
        </p>
           
        </div>

       
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
    for(i=0;i<document.getElementsByTagName("a").length;i++)
        {
        document.getElementsByTagName("a")[i].addEventListener("click",(e)=>{
                e.preventDefault()
               if(i== 0)
               {
                var data={
                    question: 24,    
                    score:1,
                }
            }
            else 
            {
                var data={
                    question: 24,    
                    score:0,
                  }
            }
            fetch("{% url '24' %}",{
                method:"POST" ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify(data)
            })  
        })
    }
    </script>
</html>







