<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="..\css\style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            Round 4
            <hr>
        </div>


        <div class="size3 ">
            <p style="color: rgba(247, 234, 205, 0.91);">
                You are given a magic grid A with 5 rows and 5 columns. In the cells of the grid, you will either get magic juice, which increases your strength by the value of that cell, or poison, which decreases the strength points written in the cell. If at any point of the journey, the strength points become less than or equal to zero, then you will die. Positive number represent magic juice and negative number represent poison.

                You have to start from the top-left corner cell and reach at the bottom-right corner cell. From a cell, you can only move either one cell down or right and you can not move outside the magic grid. You have to find the minimum number of strength points required at the starting cell with which you will be able to reach the destination cell. <br> Magic juice is represented by positive number and poison is represented by negative number.
                <br>
            <center><br>  0    -2   -3    1    2 <br> -1     4    0   -2    0 <br>1    -2   -3    0   -2 <br>4    -1    2   -1    1 <br>.1    -1   -2    3    0 
            </center>   </p>
            <br>
            <br>
            <br>
            <p>
                The number π (/paɪ/; spelled out as "pi") is a mathematical constant that is the ratio of a circle's circumference to its diameter, approximately equal to 3.14159. The number π appears in many formulas across mathematics and physics. It is an irrational number, meaning that it cannot be expressed exactly as a ratio of two integers, although fractions such as 22/7 are commonly used to approximate it. Consequently, its decimal representation never ends, nor enters a permanently repeating pattern. It is a transcendental number, meaning that it cannot be a solution of an equation involving only sums, products, powers, and integers. The transcendence of π implies that it is impossible to solve the ancient challenge of squaring the circle with a compass and straightedge. The decimal digits of π appear to be randomly distributed,[a] but no proof of this conjecture has been found.
            </p>
            <p>
                pi=<a onclick="window.location.replace('{% url "12" %}')">3</a>.1<a onclick="window.location.replace('{% url "10" %}')">4</a>159265<a onclick="window.location.replace('{% url "12" %}')">3</a>589793<a onclick="window.location.replace('{% url "5" %}')">2</a><a onclick="window.location.replace('{% url "12" %}')">3</a>8<a onclick="window.location.replace('{% url "10" %}')">4</a>626<a onclick="window.location.replace('{% url "10" %}')">4</a><a onclick="window.location.replace('{% url "12" %}')">33</a>...
            </p>

            <!--   Answer -   2-->
        </div>

      
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        a{
            color:red;
        }
        </style>
</body>
<script>
    for(i=0;i<document.getElementsByTagName("a").length;i++)
    {
    document.getElementsByTagName("a")[i].addEventListener("click",(e)=>{
            e.preventDefault()
           if(i==3)
           {
            var data={
                question: 4,    
                score:1,
            }
        }
        else
        {
            var data={
                question: 4,    
                score:0,
              }
        }
        fetch("{% url '4' %}",{
            method:"POST" ,
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(data)
        })  
    })
}

</script>
</html>