{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            Round 7
            <hr>
            <br>
        </div>


        <div class="size3 ">
            
           

                <div class="size3  " style="color: rgba(247, 234, 205, 0.91);">
                    There are 25 horses in a stable. The owner of the stable wants to find out the fastest 3 horses so that he can use them in the upcoming horse race whose winning amount is $1000. He has a track which is 10 meters in width. Each horse occupy 2 meters of width. How many minimum number of races he had to conduct in order to find the fastest 3 horses so that he gets a chance to win $1000? 

                </div>
                <br>
                <br>
                <p>
                    The iPhone (retrospectively referred to unofficially as the iPhone 2G, iPhone 1 or original iPhone) is the first iPhone model and the first smartphone designed and marketed by Apple Inc. After years of rumors and speculation, it was officially announced on January <a onclick="window.location.replace('{% url "22" %}')">9</a>, 200<a onclick="window.location.replace('{% url "23" %}')">7</a>, and it was released in the United States on June 2<a onclick="window.location.replace('{% url "18" %}')">9</a>, 2007.
                    </p>
               <p> 
                Development of the iPhone as a product began in 200<a onclick="window.location.replace('{% url "18" %}')">5</a> and continued in complete secrecy until its public unveiling. The device broke with prevailing mobile phone designs by eliminating most physical hardware buttons, and eschewing a stylus for its finger-friendly touch interface, featuring instead only a few physical buttons and a touch screen. It featured quad-band GSM cellular connectivity with GPRS and EDGE support for data transfer, and it made use of continuous internet access and onboard processing to support features unrelated to voice communication. Its successor, the iPhone 3G, was announced on June <a onclick="window.location.replace('{% url "22" %}')">9</a>, 200<a onclick="window.location.replace('{% url "18" %}')">8</a>.
                  </p>
                  <p>
                    The iPhone quickly became Apple's most successful product, with later generations propelling it to become the most profitable company at the time. The introduction of the App Store allowed established companies and startup developers to build careers and earn billions of dollars, via the platform, while providing consumers with new ways to access information and connect with other people. The iPhone largely appealed to the general public, as opposed to the business community BlackBerry and IBM focused on at the time, and, by integrating existing technology and expanding on usability, the iPhone turned the smartphone industry "on its head".
                  </p>

            <!-- Answer    -   7    -->
        </div>

        
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
    for(i=0;i<document.getElementsByTagName("a").length;i++)
        {
        document.getElementsByTagName("a")[i].addEventListener("click",(e)=>{
                e.preventDefault()
               if(i==1)
               {
                var data={
                    question: 7,    
                    score:1,
                }
            }
            else
            {
                var data={
                    question: 7,    
                    score:0,
                  }
            }
            fetch("{% url '7' %}",{
                method:"POST" ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify(data)
            })  
        })
    }
    </script>
</html>