{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHNOTHLON</title>
    <link rel="stylesheet" href="{% static '/css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="stylesheet">

</head>

<body>
    <div class="flex direction">
        <div class="size flex ">
            <!-- TECHNOTHLON 2K22 -->
            <img src="{% static '/images/Technothlon white.svg'%}" class="img1" alt="">
        </div>
        <div class="flex direction font_size">
            Round 8
            <hr>
        </div>


        <div class="size3 ">

            <p style="color: rgba(247, 234, 205, 0.91);"> Consider a row of 12 coins each having a value written on it. You play a game against an IItian by alternating turns. In each turn, a player selects either the first or last coin from the row, removes it from the row permanently, and receives the value of the coin. Determine the maximum possible amount of money we can definitely win. Because you have qualified Technothlon you are given the chance to move first. 
                <br><br>

              Note: The opponent is as clever as you. 
            <br><br>
            

            <span style="padding-left: 4%;padding-right: 5%;">8</span>
            <span style="padding-left: 4%;padding-right: 5%;">15</span>
            <span style="padding-left: 4%;padding-right: 5%;">3</span>
            <span style="padding-left: 4%;padding-right: 5%;">7</span>
            <span style="padding-left: 4%;padding-right: 5%;">6</span>
            <span style="padding-left: 4%;padding-right: 5%;">8</span>
            <span style="padding-left: 4%;padding-right: 5%;">7</span>
            <span style="padding-left: 4%;padding-right: 5%;">5</span>
            <span style="padding-left: 4%;padding-right: 5%;">9</span>
            <span style="padding-left: 4%;padding-right: 5%;">11</span>
            <span style="padding-left: 4%;padding-right: 5%;">4</span>
            <span style="padding-left: 4%;padding-right: 5%;">6</span>

           
        </p>
        <br>
       
        <hr>
    <br>
        <p>
            Adolf Hitler ( 20 April 1889 – 30 April 1945) was an Austrian-born German politician who was the dictator of Germany from 19<a onclick="window.location.replace('{% url "1" %}')">33</a> until his death in 1945. He rose to power as the leader of the Nazi Party,[a] becoming the chancellor in 1933 and then assuming the title of Führer und Reichskanzler in 19<a onclick="window.location.replace('{% url "24" %}')">35</a>.[b] During his dictatorship, he initiated World War II in Europe by invading Poland on 1 September 1939. He was closely involved in military operations throughout the war and was central to the perpetration of the Holocaust, the genocide of about 6 million Jews and millions of other victims.
        </p>

        <p>
            Hitler was born in Austria-Hungary and was raised near Linz. He lived in Vienna later in the first decade of the 1900s and moved to Germany in 1913. He was decorated during his service in the German Army in World War I. In 1919, he joined the German Workers' Party (DAP), the precursor of the Nazi Party, and was appointed leader of the Nazi Party in 1921. In 1923, he attempted to seize governmental power in a failed coup in Munich and was imprisoned with a sentence of five years. In jail, he dictated the first volume of his autobiography and political manifesto Mein Kampf ("My Struggle"). After his early release in 19<a onclick="window.location.replace('{% url "6" %}')">29</a>, Hitler gained popular support by attacking the Treaty of Versailles and promoting pan-Germanism, anti-Semitism and anti-communism with charismatic oratory and Nazi propaganda. He frequently denounced international capitalism and communism as part of a Jewish conspiracy.
        </p>

        </div>

       
    </div>
    <style>
        @import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
        </style>
</body>
<script>
    for(i=0;i<document.getElementsByTagName("a").length;i++)
        {
        document.getElementsByTagName("a")[i].addEventListener("click",(e)=>{
                e.preventDefault()
               if(i==1)
               {
                var data={
                    question: 8,    
                    score:1,
                }
            }
            else
            {
                var data={
                    question: 8,    
                    score:0,
                  }
            }
            fetch("{% url '8' %}",{
                method:"POST" ,
                headers: {
                    'Content-Type': 'application/json'
                },
                body : JSON.stringify(data)
            })  
        })
    }
    </script>
</html>




