body{
   
    background-color:black;
    color: white;
    font-size: 55px;
    height: 100vh;
    margin: 0px;
   padding: 20px;
   padding-left: 50px;
   box-sizing: border-box;
   font-family:'Avenir LT Std';

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.direction{
    flex-direction: column;
}
.font_size{
    font-size: 28px;
}
.size{
    height: 19%;
    width: 100%;
    margin-bottom: 50px;
}

.size3{
    height: 81%;
    width: 100%;
    font-size: 30px;
    margin-top:0px ;
}
hr{
    width: 350px;
}
img{
  
    width: 50%;
    height:  500px;
    border:2px solid black;
    border-radius: 5px;
}
.button {
    background-color: #1526e0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 50px;
    cursor: pointer;
    border-radius: 15px;
  }
  .button5 {background-color: #555555;} 
  a{
    text-decoration: none;
    color: white;
  }
  .margin_top{
    margin-top: 5%;
  }
  .margin_bottom{
 margin-bottom: 4%;

  }
  img{
 
    background-color: black;
       width: 40%;
       height:  40%;
   
       border-radius: 15px;
   }